p
  = image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@merchant.latitude},#{@merchant.longitude}&key=#{ENV['GOOGLE_API_KEY']}", alt: "Map"
